<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poema de la letra <%= letra %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="poema">
            <h1>Poema de la letra <%= letra %></h1>
            <p><%= poema %></p>
            <!-- Botón para volver al inicio -->
            <a href="/" class="btn-volver">Volver al inicio</a>
        </div>
    </div>
</body>
</html>